body{
    font-family: 'Orbitron', sans-serif;
    padding: 0;
    text-align: center;
    width: 100%;
}

.button{
    background: #333;
    border-radius:10px;
    color:#fff;
    font-size: 16px;
    margin-top: 15px;
    padding:10px 5px;
    width: 200px;
}
.tableButton{
    background: #333;
    color:#fff;
    font-size: 16px;
    padding:10px 5px;
}

table{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.table-bordered th{
    font-size: 20px;
    padding:5px 10px;
    text-align: center;
}
.table-bordered td{
    padding:5px 10px;
    text-align: left;
}
.head-img{
    width: 75%;
}

ul{
    list-style-type: none;
    text-align: left;
}

/*  Navbar  */
.my-nav{
    background: #666;
    box-shadow:#000 -5px 8px 15px;
    color:#fff;
    left: 0;
    height: 40px;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    width:100%;
    z-index: 2;
}
.my-nav .heading-span{
    align-items: center;
    background:#222;
    border-bottom:#000 solid 1.5px;
    border-right:#000 solid 1.5px;
    border-radius: 0 0 40px 0;
    box-shadow:#000 -5px 8px 15px;
    display: flex;
    float: left;
    font-weight: 900;
    height: 100%;
    padding: 25px;
    text-shadow: #fff 0 0 5px;
    z-index: 3;
}
.my-nav .heading-span .name-span{
    font-size:1.5em;
}
.my-nav h4{
    display: inline-block;
}
.my-nav .menu-span{
    align-items: center;
    background:#222;
    border-bottom:#000 solid 1.5px;
    border-left:#000 solid 1.5px;
    border-radius: 0 0 0 40px;
    box-shadow:#000 -5px 8px 15px;
    display: flex;
    float: right;
    height: 100%;
    padding: 25px;
    z-index: 3;
}
.my-nav .menu-span .menu-items{
    margin: 0 10px;
}
.my-nav .menu-span a{
    color:#fff;
    transition: all 0.3s;
}
.my-nav .menu-span a:focus{
    color: #fff;
    text-shadow:0;
}
.my-nav .menu-span a:hover{
    color: #CC8400;
    text-shadow:#CC8400 0 0 10px;
}
.my-nav .menu-span a:active{
     color: #fff;
     text-shadow:#fff 0 0 10px;
 }
#host-heading{
    margin-left: 25px;
}
/*  Navbar  */

/*  Side-Nav    */
.out-right{
    right: -500px;
}
.in-right{
    right: 0;
}
.side-nav{
    background: #fff;
    border: #444 solid 1px;
    height:100%;
    overflow-x: none;
    overflow-y: scroll;
    padding:50px 0 0;
    position: fixed;
    transition: all 0.3s ease-out;
    width:25%;
    z-index: 1;
}

.side-nav h1{
    padding: 10px;
}

.database-links{
    color: #222;
    font-size: 20px;
    margin-left: 0;
    transition: all .3s;
}

.database-links:hover,
.database-links:focus,
.database-links:active{
    color:#CC8400;
    text-decoration: none;
    text-shadow: #CC8400 0 0 5px;
}
/*  Side-Nav    */

/*  Body    */
#main-div{
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    width: 100%;
}
#connect-div{
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    width: 100%;
}
#data-div{
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    width: 100%;
}
#data-enter-div{
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
    width: 100%;
}

.hide{
    display: none;
}
.show{
    align-items: center;
    display: flex;
    justify-content: center;
}

#enterForm h3{
    padding-left: 20px;
    text-align: left;
}
#enterForm input{
    font-size: 20px;
    text-align: center;
    width:90%;
}
/*  Body    */